{
    "printWidth": 80,
    "useTabs": false,
    "semi": true,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false
}
