a {
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-decoration: none;
}
a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.primary {
  --tw-text-opacity: 1;
  color: rgba(2, 132, 199, var(--tw-text-opacity));
}
.secondary {
  --tw-text-opacity: 1;
  color: rgba(71, 85, 105, var(--tw-text-opacity));
}