:root {
  $uniform-brand: #fff;
  $uniform-brand-secondary: #fff;

  $uniform-dark: #fff;
  $uniform-medium: #fff;
  $uniform-light: #fff;

  $uniform-active: #fff;
  $uniform-complete: #fff;
  $uniform-success: #fff;
  $uniform-failure: #fff;
  $uniform-disabled: #fff;

  $uniform-color-primary: #0074d9;
  $uniform-color-secondary: #2185d0;
  $uniform-color-success: #3adb76;
  $uniform-color-info: #00bcd4;
  $uniform-color-warning: #ffbb33;
  $uniform-color-danger: #ff4136;
  $uniform-color-light: #f8f8f8;
  $uniform-color-dark: #222;

  $uniform-bg-primary: #0074d9;
  $uniform-bg-secondary: #2185d0;
  $uniform-bg-success: #3adb76;
  $uniform-bg-info: #00bcd4;
  $uniform-bg-warning: #ffbb33;
  $uniform-bg-danger: #ff4136;
  $uniform-bg-light: #f8f8f8;
  $uniform-bg-dark: #222;
}
