:host {
  @apply w-max relative;
}
.spoiler {
  @apply secondary secondary-fill flex flex-row gap-4 items-center cursor-pointer box-border font-semibold tracking-wide p-1.5;
}
.closed {
  @apply rounded-xl;
}
.opened {
  @apply rounded-t-xl;
}
.chevron {
  @apply duration-300 transform -rotate-90;
}
.turn180 {
  @apply transform  duration-300;
}
.small {
  @apply text-sm;
}
.medium {
  @apply text-base;
}
.large {
  @apply text-lg;
}
.content {
  @apply border-2 rounded-b-xl border-solid secondary;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-style: none;
}
.botradius.closed {
  @apply rounded-b-xl rounded-t-none;
}
.botradius.opened {
  @apply rounded-none;
}
.topradius {
  @apply rounded-t-xl rounded-b-none;
}
.noradius {
  @apply rounded-none;
}
.topradius + .content,
.noradius + .content {
  @apply rounded-none;
}
.topradius + .content,
.noradius + .content,
.botradius + .content {
  border-style: none;
}
