.wrapper::before {
  content: '';
  height: 200px;
  width: 200px;
  background: #000;
  position: relative;
  z-index: 10;
}
.top {
  bottom: 110%;
}
.bottom {
  top: 110%;
}
.top.start {
  left: 0;
}
.center {
  left: 50%;
  transform: translateX(-50%);
}
.end {
  right: 0;
}
.popup {
  --tw-bg-opacity: 1;
  background-color: rgba(75, 85, 99, var(--tw-bg-opacity));
  height: 3rem;
  position: absolute;
  width: 12.5rem;
}