:host {
  display: block;
  width: 100%;
}
* {
  outline: none;
}
.-z-1 {
  z-index: -1;
}
.wrapper {
  @apply relative px-2 border-2 rounded-xl mt-2 hover:shadow-lg flex items-center border-gray-300;
}
.sm {
  @apply py-0 font-normal text-sm border border-solid;
}
.smLabeltop input ~ label,
.smLabeltop input:not(:placeholder-shown) ~ label {
  @apply transform scale-80 -translate-y-3 z-0 ml-0.5 px-1 py-0;
}
.smPaddingRight {
  @apply pr-4;
}
.md {
  @apply py-0 font-semibold text-base border-2 border-solid;
}
.mdLabeltop input ~ label,
.mdLabeltop input:not(:placeholder-shown) ~ label {
  @apply transform scale-80 -translate-y-3.5 z-0 ml-0.5 px-1 py-0;
}
.mdPaddingRight {
  @apply pr-5;
}
.lg {
  @apply font-semibold text-lg border-3 border-solid;
}
.lgLabeltop input ~ label,
.lgLabeltop input:not(:placeholder-shown) ~ label {
  @apply transform scale-80 -translate-y-4 z-0 ml-1 px-1 py-0;
}
.lgPaddingRight {
  @apply pr-6;
}
.text-small {
  @apply text-sm;
}
.text-medium {
  @apply text-base;
}
.text-large {
  @apply text-lg;
}
.input {
  @apply block pr-0 pl-2 pt-2 pb-2 w-full border-0 appearance-none focus:outline-none bg-transparent;
}
.help-text {
  @apply absolute top-11 left-2 font-semibold text-red-500;
}
.label {
  @apply absolute top-0 py-2 tracking-wide z-10 duration-300 pointer-events-none select-none rounded-t-lg;
}
.smLabel {
  @apply font-normal text-sm;
}
.mdLabel {
  @apply font-semibold text-base;
}
.lgLabel {
  @apply font-semibold text-lg;
}
.reset {
  @apply absolute right-1 transform top-2/4 -translate-y-1/2 cursor-pointer flex flex-row;
}
.error {
  @apply bg-red-100 hover:border-red-600 focus-within:border-red-800 hover:shadow-red-100;
}
.labelError {
  @apply bg-red-100 dark:bg-dark-50 text-red-500 dark:text-red-200;
}
.success {
  @apply bg-green-100 hover:border-green-600 focus-within:border-green-800 hover:shadow-green-100;
}
.labelSuccess {
  @apply bg-green-100 dark:bg-dark-50 text-green-500 dark:text-green-200;
}
.warning {
  @apply bg-yellow-100 hover:border-yellow-600 focus-within:border-yellow-800 hover:shadow-yellow-100;
}
.labelWarning {
  @apply bg-yellow-100 dark:bg-dark-50 text-yellow-500 dark:text-yellow-200;
}
.default {
  @apply bg-gray-100 hover:border-gray-600 focus-within:border-gray-800 hover:shadow-gray-100;
}
.labelDefault {
  @apply bg-gray-100 dark:bg-dark-50 text-gray-500 dark:text-gray-200;
}
.primary {
  @apply bg-blue-100 hover:border-blue-600 focus-within:border-blue-800 hover:shadow-blue-100;
}
.labelPrimary {
  @apply bg-blue-100 dark:bg-dark-50 text-blue-500 dark:text-blue-200;
}
.outline {
  @apply hover:border-gray-400 focus-within:border-gray-500 hover:shadow-gray-100;
}
.labelOutline {
  @apply bg-white text-gray-500 dark:bg-dark-50;
}
.disabled {
  @apply !cursor-not-allowed opacity-50;
}
.chevron {
  @apply duration-300;
}
.turn180 {
  @apply transform -rotate-180 duration-300;
}
.options {
  @apply absolute border-radius bg-gray-400 left-0 w-full flex flex-col overflow-y-auto;
  z-index: 1000;
}
.hovered {
  @apply !bg-gray-500 text-gray-100;
}
.optionsTop {
  @apply mb-2 bottom-full z-50;
}
.optionsBottom {
  @apply mt-1 top-full;
}
.option {
  @apply px-4 py-1 cursor-pointer;
}
.optionError {
  @apply bg-red-100 dark:bg-red-800 text-red-500 dark:text-red-200 hover:bg-red-500 hover:text-red-100;
}
.optionSuccess {
  @apply bg-green-100 dark:bg-green-800 text-green-500 dark:text-green-200 hover:bg-green-500 hover:text-green-100;
}
.optionWarning {
  @apply bg-yellow-100 dark:bg-yellow-800 text-yellow-500 dark:text-yellow-200 hover:bg-yellow-500 hover:text-yellow-100;
}
.optionDefault {
  @apply bg-gray-100 dark:bg-gray-800 text-gray-500 dark:text-gray-200 hover:bg-gray-500 hover:text-gray-100;
}
.optionPrimary {
  @apply bg-blue-100 dark:bg-blue-800 text-blue-500 dark:text-blue-200 hover:bg-blue-500 hover:text-blue-100;
}
.optionOutline {
  @apply bg-light-100 dark:bg-dark-800 text-dark-200 dark:text-light-200 hover:bg-light-500 hover:text-dark-100;
}
.selected {
  @apply filter hue-rotate-180 invert-[0.7] duration-300;
}
.selected-option {
  @apply bg-gray-100 dark:bg-dark-50 text-gray-500 dark:text-gray-200 m-0.5 p-0.5 rounded-md;
}
.selected-rm {
  @apply text-red-500 dark:text-red-200 cursor-pointer;
}
