.input {
  cursor: pointer;
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
.label {
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-style: solid;
}
.small {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
}
.large {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  position: relative;
  width: 100%;
}
.dropzone {
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity));
  border-style: dotted;
  border-width: 2px;
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  place-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0px;
  padding: 1.5rem;
  position: relative;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}