:host {
  @apply w-full;
}
.resize-horizontal {
  resize: horizontal;
}
.resize-vertical {
  resize: vertical;
}
.resize-both {
  resize: both;
}
.resize-none {
  resize: none;
}
.wrapper {
  @apply relative py-2 border-radius mt-2 hover:shadow-lg border-gray-300 flex;
}
.textarea {
  @apply inline-block pb-3 pt-5 px-2 border-0 focus:outline-none bg-transparent flex-grow w-full max-w-screen font-sans;
}
.textarea-small {
  @apply py-0 font-normal text-sm border border-solid;
}
.textarea-small .labeltop {
  @apply transform scale-90 -translate-y-3.5 z-0 ml-0.5 px-1 py-0;
}
.textarea-medium {
  @apply font-semibold py-0 text-base border-2 border-solid;
}
.textarea-medium .labeltop {
  @apply transform scale-90 -translate-y-4.5 z-0 ml-0.5 px-1 py-0;
}
.textarea-large {
  @apply font-semibold py-0 text-lg border-3 border-solid;
}
.textarea-large .labeltop {
  @apply transform scale-90 -translate-y-5.5 z-0 ml-1 px-1 py-0;
}
.label {
  @apply absolute left-2 top-1 tracking-wide z-10 duration-300 pointer-events-none select-none rounded-t-lg;
}
.label-small {
  @apply font-normal text-sm;
}
.label-medium {
  @apply font-semibold text-base;
}
.label-large {
  @apply font-semibold text-lg;
}
.label-success {
  @apply success;
}
.label-error {
  @apply error;
}
.label-warning {
  @apply warning;
}
.label-secondary {
  @apply secondary;
}
.label-primary {
  @apply primary;
}
.design-success {
  @apply success;
}
.design-error {
  @apply error;
}
.design-warning {
  @apply warning;
}
.design-secondary {
  @apply secondary;
}
.design-primary {
  @apply primary;
}
.disabled {
  @apply cursor-not-allowed opacity-50;
}
.reset {
  @apply absolute right-0.5 top-0.5 cursor-pointer;
}
