:host {
  @apply w-full overflow-y-scroll;
}
table {
  @apply w-full border-separate h-full relative;
  border-spacing: 0 0.4rem;
}
.heading {
  @apply w-full table rounded-lg bg-blue-gray-600 text-light-600;
}
.headingslot {
  @apply w-full block;
}
.head {
  @apply w-full overflow-hidden bg-transparent;
}
th {
  @apply h-full px-1 py-2 bg-blue-gray-600 text-light-600;
}
tbody {
  @apply w-full table;
}
thead {
  @apply w-full bg-white dark:bg-black;
}
tfoot {
  @apply w-full sticky bottom-0 dark:bg-black;
  inset-block-end: 0;
}
.tablerow {
  @apply cursor-pointer whitespace-pre-wrap w-full;
}
.tablerow:hover > .tablecell {
  @apply border-blue-gray-400;
}
.tablecell {
  @apply px-2 break-words bg-blue-gray-200 border-t-2 border-b-2 border-l-0 border-r-0 border-solid box-border border-transparent;
}
.selectcell {
  @apply w-1/80;
}
.sticky {
  @apply sticky;
  inset-block-start: 0;
}
.top {
  @apply top-0;
}
.bottom {
  @apply bottom-0;
}

.tablerow .tablecell:first-child,
th:first-child {
  @apply rounded-l-xl border-l-2;
}

.tablerow .tablecell:last-child,
th:last-child {
  @apply rounded-r-xl border-r-2;
}
p {
  @apply m-0 p-0;
}
.selected {
  @apply bg-blue-200;
}
.bold {
  @apply font-bold;
}
.italic {
  @apply italic;
}
.underline {
  @apply underline;
}
.strike {
  @apply line-through;
}
.center {
  @apply text-center;
}
.right {
  @apply text-right;
}
.left {
  @apply text-left;
}
.label {
  @apply inline-flex flex-row items-center gap-1;
}
.sort {
  @apply flex flex-col text-xs leading-none max-w-max text-light-800;
}
.sort > span {
  @apply cursor-pointer;
}
