:host {
  @apply w-full;
}
table {
  @apply w-full border-separate h-full;
  border-spacing: 0 0.5rem;
}
div {
  @apply w-full;
}
.tablerow {
  @apply cursor-pointer whitespace-pre-wrap;
}
.tablerow:hover > .tablecell {
  @apply border-blue-gray-400;
}
.tablecell {
  @apply px-2 bg-blue-gray-200 border-t-2 border-b-2 border-l-0 border-r-0 border-solid box-border border-transparent max-w-max;
}
.selectcell {
  @apply w-1/80;
}
th {
  @apply px-2 py-4 bg-blue-gray-600 text-light-600;
}

.tablerow .tablecell:first-child,
th:first-child {
  @apply rounded-l-xl border-l-2;
}

.tablerow .tablecell:last-child,
th:last-child {
  @apply rounded-r-xl border-r-2;
}
p {
  @apply m-0 p-0;
}
.selected {
  @apply bg-blue-200;
}
.bold {
  @apply font-bold;
}
.italic {
  @apply italic;
}
.underline {
  @apply underline;
}
.strike {
  @apply line-through;
}
.center {
  @apply text-center;
}
.right {
  @apply text-right;
}
.left {
  @apply text-left;
}
.label {
  @apply inline-flex flex-row items-center gap-1;
}
.sort {
  @apply flex flex-col text-xs leading-none max-w-max text-light-800;
}
.sort > span {
  @apply cursor-pointer;
}
